<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='./stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <form>
            <input type="text" title="username" value="username" />
            <input type="text" title="id" value="id" />
            <input type="text" title="phone" value="phone" />
            <input type="text" title="email" />
        </form>
    </body>
</html>
