body {
    font-size: 16px;
    font-family: sans-serif;
}
#main {
    border: 2px solid rgba(128, 128, 128, 0.08);
    border-radius: 10px;
    background-color: #EDEFF0;
    width: 386px;
    margin-left: auto;
    margin-right: auto;
}
h1, #cmd, p {
    text-align: center;
}
p > span {
    vertical-align: sub;
}
.mes {
    border-style: none none solid none;
    border-color: #D9DCDE;
    background-color: #EDEFF0;
    width: 134px;
    height: 15px;
    margin-left: 28px;
    padding-bottom: 2px;
    padding-top: 0;
}
.mes:focus {
    outline: none;
}
#userName > .mes {
    width: 134px;
    margin-left: 10px;
}
.warning {
    width: 40px;
    border-style: none;
    background-color: #EDEFF0;
    color: red;
}

